H {
    text-align: center;
    color:white;
    background-image: url(https://hub.scpslgame.com/images/thumb/3/31/SZ_Gate_A_Road.jpg/300px-SZ_Gate_A_Road.jpg);
    height: 150px;
    font-size: 50px;
}

.info {
    font-size: 25px;
}

.ceter {
    color: red;
}

.euclid {
    color: yellow;
}

.info-sequrity {
    font-size: 25px;
}

.info-sciens {
    font-size: 25px;
}

.info-agent {
    font-size: 25px;
}

.B {
    width: 50px;
    height: 50px;
}

.C {
    width: 50px;
    height: 50px;
}

main {
    background: #999;
}

img {
    width: 550px;
    height: 450px;
}

article {
    text-align: center;
}

h1 {
    text-align: center;
    box-shadow: 0px 10px 15px 15px black, 0px -10px 15px 15px black;
}

.plan {
    border: 3px solid white;
}

section {
    text-align: center;
}

summary {
    text-align: center;
    font-size: 35px;
}

.secret {
    font-size: 50px;
    color: red;
}

.isec  {
    box-shadow: 2px 5px 5px 0 black, -2px -5px 5px 0 black;
}

.isiens  {
    box-shadow: 2px -2.5px 5px 0 black;
}

.iagent {
    box-shadow: 2px -5px 5px 0 black, 0 5px 5px 0 black;
}
